/* RESET */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


/* COMMON */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 3em auto;
}

.row {
    width: 100%;
    margin-bottom: 2em;
}

/* PRODUCT */
.product {
    display: inline-block;
    vertical-align: top;
    position: relative;
    
}

.shop  {
    width: 100%;
    position: absolute;
}

.square {
    width: 3em;
    height: 3em;
    background-color: white;
    position: absolute;
    display: inline-block;
    top: 5%;
    right: 0;
}

.heart {
    font-size: 25px;
    text-align: center;
    padding: 20%;
}