/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html {
    font-family:Arial, Helvetica, sans-serif;
}

/* COMMON */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 3em auto;
}

.row {
    margin-bottom: 2.5em;
    width:100%;
}

.heart {
    font-size: 25px;
    text-align: center;
    padding: 20%;
    position: absolute;
}

/* PRODUCT */
.product {
    width: calc(100%/3 - 12px);
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.product img {
    width: 100%;
}

.shop  {
    width: 100%;
}

.square {
    width: 3em;
    height: 3em;
    background-color: white;
    position: absolute;
    display: inline-block;
    top: 5%;
    right: 0;
}


.sale{
    background-color: #EB0037;
    color: #ffffff;
    padding: .2em .5em;
     position: absolute;
    left: 0;
    bottom: 15%; 
}

.sostenibilita{
    background-color: #00875A;
    color: #ffffff;
    font-weight: bolder;
    padding: .2em .5em; 
    position: absolute;
    bottom: 15%;
    left: 15%; 
    }
   
    .barra{
        display: inline-block;
        position: absolute;
        bottom: 15%;
        left: 0;
    }  




/* description shop  */



.price{
    font-size: .8em;
}

.sale-price{
    color: #ff0000;
    font-weight: bold;
}

.old-price{
    text-decoration: line-through;
}